In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
878,tt0246460,140000000,431971116,Die Another Day,Pierce Brosnan|Halle Berry|Rosamund Pike|Rick ...,Lee Tamahori,Events don't get any bigger than...,The ever-daring James Bond taking on a North K...,133,Adventure|Action|Thriller,Eon Productions,11/17/2002,5.8,2002
1158,tt0329028,19000000,39267515,Dumb and Dumberer: When Harry Met Lloyd,Mimi Rogers|Eric Christian Olsen|Luis GuzmÃ¡n|...,Troy Miller,The evolution of dumb...,This wacky prequel to the 1994 blockbuster goe...,85,Comedy,New Line Cinema,6/13/2003,4.2,2003
156,tt1924435,17000000,136621271,Let's Be Cops,Jake Johnson|Damon Wayans Jr.|Nina Dobrev|Rob ...,Luke Greenfield,Fake Cops. Real Trouble.,It's the ultimate buddy cop movie except for o...,104,Comedy,Twentieth Century Fox Film Corporation|WideAwa...,8/13/2014,6.4,2014
247,tt0988045,90000000,524028679,Sherlock Holmes,Robert Downey Jr.|Jude Law|Rachel McAdams|Mark...,Guy Ritchie,Nothing escapes him.,Eccentric consulting detective Sherlock Holmes...,128,Adventure|Drama|Action|Comedy|Thriller,Village Roadshow Pictures|Silver Pictures|Warn...,1/7/2009,6.9,2009
362,tt1100119,40000000,28972508,Shorts,Jimmy Bennett|Kat Dennings|Jolie Vanier|Willia...,Robert Rodriguez,Not So TALL Tales From The Director Of 'Spy Kids',"A young boy's discovery of a colorful, wish-gr...",89,Comedy|Family,Warner Bros. Pictures,8/21/2009,4.8,2009

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [5]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [6]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '1. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [7]:
# тут пишем ваш код для решения данного вопроса:
data = pd.read_csv('movie_bd_v5.xls')
data.index
max_budget=data[data.budget == data.budget.max()]
max_budget

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

ВАРИАНТ 2

In [8]:
# можно добавлять разные варианты решения
data=data.sort_values('budget', ascending=False)
data.head(10)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011
1669,tt0449088,300000000,961000000,Pirates of the Caribbean: At World's End,Johnny Depp|Orlando Bloom|Keira Knightley|Geof...,Gore Verbinski,"At the end of the world, the adventure begins.","Captain Barbossa, long believed to be dead, ha...",169,Adventure|Fantasy|Action,Walt Disney Pictures|Jerry Bruckheimer Films|S...,5/19/2007,6.8,2007
14,tt2395427,280000000,1405035767,Avengers: Age of Ultron,Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo...,Joss Whedon,A New Age Has Come.,When Tony Stark tries to jumpstart a dormant p...,141,Action|Adventure|Science Fiction,Marvel Studios|Prime Focus|Revolution Sun Studios,4/22/2015,7.4,2015
1014,tt0401729,260000000,284139100,John Carter,Taylor Kitsch|Lynn Collins|Mark Strong|Willem ...,Andrew Stanton,Lost in Our World. Found in Another.,Civil War vet John Carter is transplanted to M...,132,Action|Adventure|Fantasy|Science Fiction,Walt Disney Pictures,3/7/2012,6.0,2012
380,tt0398286,260000000,591794936,Tangled,Zachary Levi|Mandy Moore|Donna Murphy|Ron Perl...,Nathan Greno|Byron Howard,They're taking adventure to new lengths.,When the kingdom's most wanted-and most charmi...,100,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,11/24/2010,7.3,2010
1676,tt0413300,258000000,890871626,Spider-Man 3,Tobey Maguire|Kirsten Dunst|James Franco|Thoma...,Sam Raimi,The battle within.,The seemingly invincible Spider-Man goes up ag...,139,Fantasy|Action|Adventure,Columbia Pictures|Laura Ziskin Productions|Mar...,5/1/2007,5.8,2007
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013
374,tt0926084,250000000,954305868,Harry Potter and the Deathly Hallows: Part 1,Daniel Radcliffe|Emma Watson|Rupert Grint|Ralp...,David Yates,One Wayâ€¦ One Fateâ€¦ One Hero.,"Harry, Ron and Hermione walk away from their l...",146,Adventure|Fantasy|Family,Warner Bros.|Heyday Films,10/17/2010,7.4,2010
1186,tt1170358,250000000,958400000,The Hobbit: The Desolation of Smaug,Martin Freeman|Ian McKellen|Richard Armitage|K...,Peter Jackson,Beyond darkness... beyond desolation... lies t...,"The Dwarves, Bilbo and Gandalf have successful...",161,Adventure|Fantasy,WingNut Films|New Line Cinema|Metro-Goldwyn-Ma...,12/11/2013,7.6,2013
972,tt1345836,250000000,1081041287,The Dark Knight Rises,Christian Bale|Michael Caine|Gary Oldman|Anne ...,Christopher Nolan,The Legend Ends,Following the death of District Attorney Harve...,165,Action|Crime|Drama|Thriller,Legendary Pictures|Warner Bros.|DC Entertainme...,7/16/2012,7.5,2012

# 2. Какой из фильмов самый длительный (в минутах)?

In [9]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1. Gods and Generals (tt0279111)'

In [10]:
data = pd.read_csv('movie_bd_v5.xls')
data.index
max_runtime=data[data.runtime == data.runtime.max()]
max_runtime

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)?

In [11]:
data = pd.read_csv('movie_bd_v5.xls')
data.index
max_runtime=data[data.runtime == data.runtime.min()]
max_runtime

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

In [12]:
answers['3'] = '1. Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [13]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(data.describe())

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [14]:
answers['4'] = '1. 109.658549'

# 5. Каково медианное значение длительности фильмов?

In [15]:
answers['5'] = '1. 107'

In [16]:
data = pd.read_csv('movie_bd_v5.xls')
data.index
median_runtime=data[data.runtime == data.runtime.median()]
median_runtime

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
70,tt2279339,17000000,24000000,Love the Coopers,Steve Martin|Diane Keaton|John Goodman|Alan Ar...,Jessie Nelson,"Christmas means comfort, joy and chaos.",When four generations of the Cooper clan come ...,107,Family|Comedy,Imagine Entertainment|Groundswell Productions|...,11/12/2015,5.3,2015
210,tt0900387,15000000,9104716,Suite FranÃ§aise,Michelle Williams|Kristin Scott Thomas|Matthia...,Saul Dibb,Based on the Best Selling Novel,"France, 1940. In the first days of occupation,...",107,Drama|Romance|War,Qwerty Films|Alliance Films|Canal+|TF1 Droits ...,11/5/2014,6.9,2014
224,tt2771372,6000000,3485127,Veronica Mars,Kristen Bell|Jason Dohring|Enrico Colantoni|Ch...,Rob Thomas,She thought she was out,Years after walking away from her past as a te...,107,Comedy|Drama|Crime,Warner Bros.|Warner Bros. Interactive Entertai...,3/13/2014,6.3,2014
229,tt2978462,36000000,52424533,Dolphin Tale 2,Morgan Freeman|Ashley Judd|Nathan Gamble|Cozi ...,Charles Martin Smith,WINTER's amazing true story... now has HOPE.,The team of people who saved Winter's life rea...,107,Family|Drama,Alcon Entertainment|Color Force|Boxing Cat Films,9/12/2014,6.8,2014
338,tt1013752,85000000,363164265,Fast & Furious,Vin Diesel|Paul Walker|Jordana Brewster|Michel...,Justin Lin,New Model. Original Parts.,"When a crime brings them back to L.A., fugitiv...",107,Action|Crime|Drama|Thriller,Universal Pictures|Original Film|One Race Prod...,4/2/2009,6.4,2009
347,tt1091722,9500000,17164377,Adventureland,Jesse Eisenberg|Kristen Stewart|Martin Starr|K...,Greg Mottola,Nothing brings people together like a crappy s...,"In the summer of 1987, a college graduate take...",107,Comedy,Miramax Films|Sidney Kimmel Entertainment|This...,4/3/2009,6.3,2009
359,tt0458525,150000000,341131793,X-Men Origins: Wolverine,Hugh Jackman|Liev Schreiber|Danny Huston|Lynn ...,Gavin Hood,Witness the Origin.,"After seeking to live a normal life, Logan set...",107,Adventure|Action|Thriller|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,4/28/2009,6.2,2009
396,tt1424381,40000000,126248813,Predators,Topher Grace|Alice Braga|Laurence Fishburne|Ad...,NimrÃ³d Antal,Fear is Reborn,A mercenary named Royce reluctantly leads a mo...,107,Action|Science Fiction|Adventure|Thriller,Twentieth Century Fox Film Corporation|Davis E...,7/3/2010,5.8,2010
411,tt1386588,100000000,170432927,The Other Guys,Will Ferrell|Mark Wahlberg|Eva Mendes|Samuel L...,Adam McKay,When the cops are busy... Our only hope is...,NYPD detectives Christopher Danson (Johnson) a...,107,Action|Comedy|Crime,Columbia Pictures|Gary Sanchez Productions,8/6/2010,6.1,2010
412,tt1193631,30000000,159291809,Step Up 3D,Rick Malambri|Adam G. Sevani|Joe Slaughter|Sha...,Jon M. Chu,Two Worlds. One Dream.,A tight-knit group of New York City street dan...,107,Drama|Romance,Summit Entertainment|Touchstone Pictures,8/4/2010,6.5,2010
448,tt1135084,32000000,69055695,Takers,Chris Brown|Hayden Christensen|Matt Dillon|Mic...,John Luessenhop,Who's Taking Who?,"A seasoned team of bank robbers, including Gor...",107,Action|Crime|Drama|Thriller,Rainforest Films,8/26/2010,6.1,2010
453,tt1385867,30000000,55583804,Cop Out,Bruce Willis|Tracy Morgan|Juan Carlos HernÃ¡nd...,Kevin Smith,Rock out with your Glock out,Officers Jimmy Monroe and Paul Hodges have the...,107,Action|Comedy|Crime,Warner Bros.,2/26/2010,5.5,2010
460,tt1244754,12500000,6732980,Conviction,Hilary Swank|Minnie Driver|Bailee Madison|Lore...,Tony Goldwyn,An extraordinary journey of how far we go to f...,When Betty Anne Waters' older brother Kenny is...,107,Drama,Oceana Media Finance|Pantheon Entertainment Co...,9/11/2010,7.0,2010
473,tt0872230,25000000,19829957,My Soul to Take,Max Thieriot|John Magaro|Denzel Whitaker|Zena ...,Wes Craven,Only One Has The Power To Save Their Souls,A serial killer returns to his hometown to sta...,107,Drama|Horror|Mystery|Thriller,Relativity Media|Rogue,10/8/2010,5.2,2010
489,tt1013860,20000000,4634062,Dylan Dog: Dead of Night,Brandon Routh|Peter Stormare|Sam Huntington|Ta...,Kevin Munroe,No pulse? No problem,"The adventures of supernatural private eye, Dy...",107,Action|Comedy|Horror|Mystery|Science Fiction,Hyde Park Films|platinum studios|Long Distance...,10/26/2010,4.9,2010
625,tt0942385,92000000,188072649,Tropic Thunder,Ben Stiller|Robert Downey Jr.|Jack Black|Jay B...,Ben Stiller,The movie they think they're making... isn't a...,"Vietnam veteran 'Four Leaf' Tayback's memoir, ...",107,Action|Comedy,DreamWorks SKG|Goldcrest Pictures|Red Hour Fil...,8/9/2008,6.4,2008
658,tt0780536,15000000,32002538,In Bruges,Colin Farrell|Brendan Gleeson|Ralph Fiennes|Cl...,Martin McDonagh,Shoot first. Sightsee later.,"Ray and Ken, two hit men, are in Bruges, Belgi...",107,Comedy|Drama|Crime,Blueprint Pictures|Scion Films|Film4|Focus Fea...,2/8/2008,7.3,2008
661,tt0481536,12000000,43493123,Harold & Kumar Escape from Guantanamo Bay,John Cho|Kal Penn|Neil Patrick Harris|Rob Cord...,Jon Hurwitz|Hayden Schlossberg,This time they're running from the joint.,"Having satisfied their urge for White Castle, ...",107,Comedy|Adventure,New Line Cinema,4/25/2008,6.0,2008
684,tt0800240,25000000,17741298,Deception,Hugh Jackman|Ewan McGregor|Michelle Williams|B...,Marcel Langenegger,"When you're in this world, no one is who they ...",As a corporate auditor who works in a number o...,107,Drama|Thriller|Crime|Mystery,Rifkin-Eberts|Dune Entertainment III|Seed Prod...,4/24/2008,5.8,2008
745,tt0983193,130000000,371940071,The Adventures of Tintin,Jamie Bell|Andy Serkis|Daniel Craig|Nick Frost...,Steven Spielberg,"This year, discover how far adventure will tak...","Intrepid young reporter, Tintin and his loyal ...",107,Adventure|Animation|Action|Family|Mystery,Paramount Pictures|Columbia Pictures|WingNut F...,10/25/2011,6.6,2011
760,tt1192628,135000000,245724603,Rango,Johnny Depp|Isla Fisher|Ned Beatty|Bill Nighy|...,Gore Verbinski,Heroes come in all different colors.,"When Rango, a lost family pet, accidentally wi...",107,Animation|Comedy|Family|Western|Adventure,Paramount Pictures|Nickelodeon Movies|GK Films...,3/2/2011,6.5,2011
765,tt1563738,15000000,59389433,One Day,Anne Hathaway|Jim Sturgess|Patricia Clarkson|R...,Lone Scherfig,Twenty years. Two people.,"A romantic comedy centered on Dexter and Emma,...",107,Drama|Romance,Film 4|Color Force,3/2/2011,6.9,2011
848,tt1464174,32000000,83615414,"Big Mommas: Like Father, Like Son",Portia Doubleday|Martin Lawrence|Brandon T. Ja...,John Whitesell,Momma's got back-up.,FBI agent Malcolm Turner and his 17-year-old s...,107,Crime|Comedy|Action,Twentieth Century Fox Film Corporation|Regency...,2/16/2011,5.4,2011
897,tt0238380,20000000,5359645,Equilibrium,Christian Bale|Taye Diggs|Emily Watson|Angus M...,Kurt Wimmer,"In a future where freedom is outlawed, outlaws...","In a dystopian future, a totalitarian regime m...",107,Action|Science Fiction|Thriller,Dimension Films|Blue Tulip Productions,12/6/2002,6.9,2002
946,tt0297884,13500000,29027914,Far from Heaven,Julianne Moore|Dennis Quaid|Dennis Haysbert|Pa...,Todd Haynes,It's time to stop hiding from the truth.,"In 1950s Connecticut, a housewife faces a mari...",107,Drama|Romance,Clear Blue Sky Productions,9/1/2002,6.4,2002
1047,tt1430615,40000000,24719215,Big Miracle,Drew Barrymore|John Krasinski|Kristen Bell|Vin...,Ken Kwapis,A family of whales trapped beneath the ice. On...,"Based on an inspiring true story, a small-town...",107,Adventure|Drama|Romance,Universal Pictures|Anonymous Content|Working T...,2/2/2012,6.5,2012
1139,tt0322259,76000000,236350661,2 Fast 2 Furious,Paul Walker|Tyrese Gibson|Eva Mendes|Cole Haus...,John Singleton,How Fast Do You Want It?,It's a major double-cross when former police o...,107,Action|Crime|Thriller,Mikona Productions GmbH & Co. KG|Universal Pic...,6/5/2003,6.1,2003
1238,tt1245492,32000000,126041322,This Is the End,James Franco|Jonah Hill|Seth Rogen|Jay Baruche...,Seth Rogen|Evan Goldberg,Nothing ruins a party like the end of the world.,While attending a party at James Franco's hous...,107,Action|Comedy,Columbia Pictures|Mandate Pictures|Sony Pictur...,6/12/2013,6.2,2013
1259,tt1814621,13000000,18000000,Admission,Tina Fey|Paul Rudd|Ann Harada|Ben Levin|Dan Levy,Paul Weitz,Let someone in.,Strait-laced Princeton University admissions o...,107,Comedy|Drama|Romance,Focus Features,3/21/2013,5.4,2013
1266,tt2002718,12000000,15008161,Machete Kills,Danny Trejo|Mel Gibson|Amber Heard|Michelle Ro...,Robert Rodriguez,Trained to kill. Left for dead. Back for more.,Ex-Federale agent Machete is recruited by the ...,107,Action|Crime|Thriller,Open Road Films|Overnight Films|AR Films|Aldam...,9/12/2013,5.2,2013
1393,tt0391304,30000000,42886719,A Lot Like Love,Ashton Kutcher|Amanda Peet|Aimee Garcia|Taryn ...,Nigel Cole,There's nothing better than a great romance......,"On a flight from Los Angeles to New York, Oliv...",107,Comedy,Mile High Productions|Kevin Messick Production...,4/22/2005,6.5,2005
1431,tt0355702,25000000,13411957,Lords of Dogtown,Emile Hirsch|Victor Rasuk|Rebecca De Mornay|Jo...,Catherine Hardwicke,"They never thought they'd be famous, but they ...",The film follows the surf and skateboarding tr...,107,Drama,Columbia Pictures|TriStar Pictures,6/3/2005,6.9,2005
1449,tt0389860,82500000,237681299,Click,Adam Sandler|Kate Beckinsale|Christopher Walke...,Frank Coraci,What If You Had A Remote... That Controlled Yo...,A workaholic architect finds a universal remot...,107,Comedy|Drama|Fantasy|Romance,Original Film|Columbia Pictures Corporation|Re...,6/22/2006,5.9,2006
1474,tt0454841,15000000,69623713,The Hills Have Eyes,Aaron Stanford|Kathleen Quinlan|Vinessa Shaw|E...,Alexandre Aja,The lucky ones die first.,Based on Wes Craven's 1977 suspenseful cult cl...,107,Horror|Thriller,Dune Entertainment|Major Studio Partners|Crave...,3/10/2006,6.0,2006
1499,tt0465142,17000000,7314027,American Dreamz,Hugh Grant|Dennis Quaid|Mandy Moore|Willem Daf...,Paul Weitz,Imagine a country where more people vote for a...,"The new season of ""American Dreamz,"" the wildl...",107,Comedy|Drama|Family,Universal Pictures|Depth of Field,3/4/2006,4.6,2006
1589,tt0346156,70000000,57958696,Sky Captain and the World of Tomorrow,Jude Law|Gwyneth Paltrow|Giovanni Ribisi|Angel...,Kerry Conran,Who will save us?,"When gigantic robots attack New York City, ""Sk...",107,Mystery|Action|Thriller|Science Fiction|Adventure,Paramount Pictures|Natural Nylon Entertainment...,9/17/2004,5.7,2004
1624,tt0358135,50000000,170128460,Shall We Dance?,Richard Gere|Jennifer Lopez|Susan Sarandon|Lis...,Peter Chelsom,Step out of the ordinary,"A romantic comedy where a bored, overworked Es...",107,Drama|Romance|Comedy,Miramax Films,10/15/2004,5.8,2004
1700,tt0461770,85000000,340487652,Enchanted,Patrick Dempsey|Amy Adams|James Marsden|Timoth...,Kevin Lima,This fairytale princess is about to meet a rea...,The beautiful princess Giselle is banished by ...,107,Comedy|Family|Fantasy|Romance,Walt Disney Pictures|Josephson Entertainment|A...,11/20/2007,6.6,2007
1708,tt0448134,50000000,32017803,Sunshine,Cillian Murphy|Rose Byrne|Chris Evans|Michelle...,Danny Boyle,"If the sun dies, so do we.",50 years from now the sun is dying and life on...,107,Science Fiction|Thriller,DNA Films|Ingenious Film Partners|UK Film Coun...,4/5/2007,6.8,2007
1851,tt0209958,33000000,104155843,The Cell,Jennifer Lopez|Vincent D'Onofrio|Vince Vaughn|...,Tarsem Singh,Enter The Mind Of A Killer,A psychotherapist journeys inside a comatose s...,107,Horror|Science Fiction|Thriller,New Line Cinema|Avery Pix|Radical Media|Katira...,8/17/2000,5.7,2000
1880,tt0190374,35000000,15185241,Dungeons & Dragons,Justin Whalin|Jeremy Irons|Thora Birch|Bruce P...,Courtney Solomon,This is no game.,The classic role-playing game comes to life in...,107,Action|Adventure|Fantasy|Science Fiction,New Line Cinema|Silver Pictures|Sweetpea Enter...,12/8/2000,3.9,2000
1882,tt0217756,24000000,12372410,Ready to Rumble,David Arquette|Scott Caan|Oliver Platt|Rose Mc...,Brian Robbins,They're headed to the big time...face first.,Two slacker wrestling fans are devastated by t...,107,Action|Comedy|Drama,Bel Air Entertainment|Warner Bros.,4/7/2000,4.4,2000

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [17]:
import pandas as pd
df = pd.read_csv('movie_bd_v5.xls')
#Добавим в начало DF столбец profit (profit = revenue - budget)
profit_sir = df['revenue'] - df['budget']
df.insert(loc=0, column='profit', value=profit_sir)
max_profit=df[df.profit == df.profit.max()]
max_profit

,profit,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
239,2544505847,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009

In [18]:
answers['6'] = '1. Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [19]:
min_profit=df[df.profit == df.profit.min()]
min_profit

,profit,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1245,-165710090,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013

In [20]:
answers['7'] = '1. The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [21]:
df[df.revenue > df.budget]

,profit,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,1363528810,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,228436354,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,185238201,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,1868178225,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,1316249360,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1871,7036004,tt0171433,30000000,37036004,Keeping the Faith,Ben Stiller|Edward Norton|Jenna Elfman|Anne Ba...,Edward Norton,"If you have to believe in something, you may a...","Best friends since they were kids, Rabbi Jacob...",127,Comedy,Spyglass Entertainment|Touchstone Pictures|Tri...,4/14/2000,5.7,2000
1875,4700000,tt0219854,65000000,69700000,The Kid,Bruce Willis|Spencer Breslin|Emily Mortimer|Li...,Jon Turteltaub,Nobody ever grows up quite like they imagined.,Powerful businessman Russ Duritz is self-absor...,104,Fantasy|Comedy|Family,Walt Disney Pictures,7/7/2000,5.9,2000
1877,7728118,tt0199725,20000000,27728118,Love & Basketball,"Chris Warren, Jr.|Kyla Pratt|Sanaa Lathan|Omar...",Gina Prince-Bythewood,All's fair in love and basketball.,A young African-American couple navigates the ...,124,Action|Comedy|Drama|Romance,40 Acres & A Mule Filmworks,4/21/2000,7.3,2000
1883,12609995,tt0122459,24000000,36609995,Return to Me,David Duchovny|Minnie Driver|Carroll O'Connor|...,Bonnie Hunt,A comedy straight from the heart,It took a lot of cajoling to get Bob (Duchovny...,115,Romance|Comedy|Drama,Metro-Goldwyn-Mayer (MGM)|JLT Productions,4/7/2000,5.5,2000
1884,82299717,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000

In [22]:
answers['8'] = '1. 1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [23]:
df_2008 = df[df.release_year == 2008]
df_2008_max = df_2008[df_2008.revenue == df_2008.revenue.max()]
df_2008_max

,profit,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
599,816921825,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008

In [24]:
answers['9'] = '1. The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [25]:
answers['10'] = '1. The Lone Ranger (tt1210819)'

In [26]:
df_new= df.query('release_year == "2012" | release_year == "2013" | release_year == "2014"')
min_profit=df_new[df_new.profit == df_new.profit.min()]
min_profit

,profit,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1245,-165710090,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013

# 11. Какого жанра фильмов больше всего?

In [27]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
import pandas as pd
df = pd.read_csv('movie_bd_v5.xls')
df['genres'] = df['genres'].apply(lambda x:x.split('|'))
import collections
genres = collections.Counter()
for category in df['genres']:
    for genre in category:
        genres[genre] += 1
print (genres)

Counter({'Drama': 782, 'Comedy': 683, 'Thriller': 596, 'Action': 582, 'Adventure': 415, 'Crime': 315, 'Romance': 308, 'Family': 260, 'Science Fiction': 248, 'Fantasy': 222, 'Horror': 176, 'Mystery': 168, 'Animation': 139, 'Music': 64, 'History': 62, 'War': 58, 'Western': 19, 'Documentary': 8, 'Foreign': 2})

ВАРИАНТ 2

In [28]:
import pandas as pd
df = pd.read_csv('movie_bd_v5.xls')
df['genres'] = df['genres'].apply(lambda x:x.split('|'))
data_genres = df[:]

pd.Series(data_genres['genres'].sum()).value_counts().index[0]

'Drama'

In [29]:
answers['11'] = '1. Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [30]:
answers['12'] = '1. Drama'

In [31]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.xls')
#Добавим в начало DF столбец profit (profit = revenue - budget)
profit_sir = data['revenue'] - data['budget']
data.insert(loc=0, column='profit', value=profit_sir)
#Создаем новый df только с прибыльными фильмами
data_profit= data.query('profit>0')

data_genres = data_profit[:]
data_genres['genres'] = data_profit['genres'].apply(lambda x:x.split('|'))
pd.Series(data_genres['genres'].sum()).value_counts().index[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [32]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.xls')
data_director = data[:]
data_director['genres'] = data['director'].apply(lambda x:x.split('|')) 
data_director = data_director.explode('director') 
answer = data_director.groupby('director')['revenue'].apply(sum).sort_values(ascending=False).keys()[0] 
answer

'Peter Jackson'

In [33]:
answers['13'] = '1. Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [34]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.xls')
import collections
data_action = data[data.genres.str.contains('Action')] 
data_action['director'] = data_action['director'].apply(lambda x:x.split('|'))

data_director = data_action[:]

pd.Series(data_director['director'].sum()).value_counts().index[0]

D:\anaconda\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

'Robert Rodriguez'

In [35]:
answers['14'] = '1.Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [36]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.xls')
import collections
data_2012 = data[data.release_year == 2012]
data_cast = data_2012[:]
data_cast['cast'] = data_2012['cast'].apply(lambda x:x.split('|')) 
data_cast = data_cast.explode('cast') 
answer = data_cast.groupby('cast')['revenue'].apply(sum).sort_values(ascending=False).keys()[0] 
answer

'Chris Hemsworth'

In [37]:
answers['15'] = '1. Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [38]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.xls')
import collections

data_top = data[data.budget > data.budget.mean()]
data_cast = data_top[:]
data_cast['cast'] = data_top['cast'].apply(lambda x:x.split('|'))
pd.Series(data_cast['cast'].sum()).value_counts().index[0]

'Matt Damon'

In [39]:
answers['16'] = '1. Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [40]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.xls')
data_Cage = data[data.cast.str.contains('Nicolas Cage', na = False)] 
data_Cage['genres'] = data_Cage['genres'].apply(lambda x:x.split('|'))
Cage_movies =data_Cage[:]
pd.Series(Cage_movies['genres'].sum()).value_counts().index[0]

D:\anaconda\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

'Action'

In [41]:
answers['17'] = '1. Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [42]:
import pandas as pd
df = pd.read_csv('movie_bd_v5.xls')
#Добавим в начало DF столбец profit (profit = revenue - budget)
profit_sir = df['revenue'] - df['budget']
df.insert(loc=0, column='profit', value=profit_sir)
#Выбираем фильмы Warner Bros в отдельный df
data_pp = df[df.production_companies.str.contains("Paramount Pictures", na=False)]
# выводим данные по году с максимальной суммарной прибылоью 
min_profit = data_pp[data_pp.profit == data_pp.profit.min()]
min_profit

,profit,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
925,-64831034,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002

In [43]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [44]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.xls')
data_year = data[:]
answer = data_year.groupby('release_year')['revenue'].apply(sum).sort_values(ascending=False).keys()[0] 
answer

2015

In [45]:
answers['19'] = '1. 2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [46]:
import pandas as pd
df = pd.read_csv('movie_bd_v5.xls')
#Добавим в начало DF столбец profit (profit = revenue - budget)
profit_sir = df['revenue'] - df['budget']
df.insert(loc=0, column='profit', value=profit_sir)
#Выбираем фильмы Warner Bros в отдельный df
data_wb = df[df.production_companies.str.contains("Warner Bros", na=False)]
# из полученного df суммируем прибыль от фильмов по годам
grouped_df = data_wb.groupby(['release_year']).sum() 
# выводим данные по году с максимальной суммарной прибылоью 
max_profit = grouped_df[grouped_df.profit == grouped_df.profit.max()]
max_profit

                  profit     budget     revenue  runtime  vote_average
release_year
2014          2295464519  947600000  3243064519     1576          88.9

In [47]:
answers['20'] = '1. 2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [48]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.xls')
data[['release_date', 'day', 'year']] = data['release_date'].str.split('/', expand=True)
data_month = data[:]
data_month['release_date'] = data['release_date'].apply(lambda x:x.split('|'))
pd.Series(data_month['release_date'].sum()).value_counts().index[0]

'9'

In [49]:
answers['21'] = '1. 9.September'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [50]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.xls')
data[['release_date', 'day', 'year']] = data['release_date'].str.split('/', expand=True)
data=data[(data.release_date == '6')|
        (data.release_date == '7')|(data.release_date == '8')]
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 450 entries, 0 to 1888
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               450 non-null    object
 1   budget                450 non-null    int64
 2   revenue               450 non-null    int64
 3   original_title        450 non-null    object
 4   cast                  450 non-null    object
 5   director              450 non-null    object
 6   tagline               450 non-null    object
 7   overview              450 non-null    object
 8   runtime               450 non-null    int64
 9   genres                450 non-null    object
 10  production_companies  450 non-null    object
 11  release_date          450 non-null    object
 12  vote_average          450 non-null    float64
 13  release_year          450 non-null    int64
 14  day                   450 non-null    object
 15  year                  450 non-null    object
dtypes: float64(1), int64(4), object(11)
memory usage: 59.8+ KB

In [51]:
answers['22'] = '1. 450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [52]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.xls')
data[['release_date', 'day', 'year']] = data['release_date'].str.split('/', expand=True)
data=data[(data.release_date == '12')|
        (data.release_date == '1')|(data.release_date == '2')]
data_director = data[:]
data_director['director'] = data['director'].apply(lambda x:x.split('|'))
pd.Series(data_director['director'].sum()).value_counts().index[0]

'Peter Jackson'

In [53]:
answers['23'] = '1. Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [54]:
data = pd.read_csv('movie_bd_v5.xls') 
#создаем колонку с длинами названий фильмов
data['title_len'] = data['original_title'].apply(lambda x:len(x))
data['production_companies'] = data['production_companies'].apply(lambda x:x.split('|'))
#выбираем самые длинные названия
data[data['title_len'] > data['title_len'].mean()]
production_companies_df = data.explode('production_companies')
production_companies_df = production_companies_df.groupby('production_companies').title_len.mean().sort_values(ascending=False).index[0]
print(production_companies_df)

Four By Two Productions

In [55]:
answers['24'] = '1. Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [ ]:
data = pd.read_csv('movie_bd_v5.xls')
for item in data['overview']:
    for char in '-.,':
        item = item.replace(char, '')
        item_word_overview = item.split()
#создаем колонку с длинами описаний фильмов
data.insert(loc=0, column='len_overview', value=item_word_overview)
data['production_companies'] = data['production_companies'].apply(lambda x:x.split('|'))
#выбираем самые длинные описания
data[data['len_overview'] > data['len_overview'].mean()]
production_companies_df = data.explode('production_companies')
production_companies_df = production_companies_df.groupby('production_companies').len_overview.mean().sort_values(ascending=False).index[0]
print(production_companies_df)

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [57]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.xls')
import collections

best_df = data.sort_values(by='vote_average').tail(int(data.original_title.count()/100)).original_title
best_df = best_df.tolist()
print(best_df)

['The Theory of Everything', 'The Lord of the Rings: The Two Towers', 'There Will Be Blood', 'Mr. Nobody', '12 Years a Slave', 'The Pianist', 'Gone Girl', 'Memento', 'Guardians of the Galaxy', 'Inception', 'The Wolf of Wall Street', 'The Grand Budapest Hotel', 'The Lord of the Rings: The Return of the King', 'Room', 'Interstellar', 'Inside Out', 'The Imitation Game', 'The Dark Knight']

In [58]:
answers['26'] = 'The Theory of Everything, The Lord of the Rings: The Two Towers, There Will Be Blood, Mr. Nobody, 12 Years a Slave, The Pianist, Gone Girl, Memento, Guardians of the Galaxy, Inception, The Wolf of Wall Street, The Grand Budapest Hotel, The Lord of the Rings: The Return of the King, Room, Interstellar, Inside Out, The Imitation Game, The Dark Knight'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [59]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '1. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1. Gods and Generals (tt0279111)',
 '3': '1. Winnie the Pooh (tt1449283)',
 '4': '1. 109.658549',
 '5': '1. 107',
 '6': '1. Avatar (tt0499549)',
 '7': '1. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '1. The Dark Knight (tt0468569)',
 '10': '1. The Lone Ranger (tt1210819)',
 '11': '1. Drama',
 '12': '1. Drama',
 '13': '1. Peter Jackson',
 '14': '1.Robert Rodriguez',
 '15': '1. Chris Hemsworth',
 '16': '1. Matt Damon',
 '17': '1. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '1. 2015',
 '20': '1. 2014',
 '21': '1. 9.September',
 '22': '1. 450',
 '23': '1. Peter Jackson',
 '24': '1. Four By Two Productions',
 '26': 'The Theory of Everything, The Lord of the Rings: The Two Towers, There Will Be Blood, Mr. Nobody, 12 Years a Slave, The Pianist, Gone Girl, Memento, Guardians of the Galaxy, Inception, The Wolf of Wall Street, The Grand Budapest Hotel, The Lord of the Rings: The Return of the King, Room, Interstellar, Inside Out, The Imitation Game, The Dark Knight'}

In [60]:
# и убедиться что ни чего не пропустил)
len(answers)

25